.mail{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 30px;
  margin-bottom: 4px;
  border: 2px solid #483D8B;
  box-shadow: 2px 2px 0 0 #cd5c5c
  3px 3px 0 0 #00008B;
  transition-duration: 180ms;
}
.mail:hover{
  box-shadow: 2.5px 2.5px 0 0 #b3d4f5,
  2px 2px 0 0 #8B4513;
  transform: translate(-2px -2px);
}
.sub{
  padding: 3px 3px;
  border: 2px solid #483D8B;
  box-shadow: 2px 2px 0 0 #cd5c5c
  3px 3px 0 0 #00008B;
  transition-duration: 180ms;
  cursor: pointer;

}
.sub:hover{
  box-shadow: 3px 3px 0 0 #1e90ff,
  3px 3px 0 0 #8B4513;
  transform: translate(-2px -2px);
}.mail{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 30px;
  margin-bottom: 4px;
  border: 2px solid #483D8B;
  box-shadow: 2px 2px 0 0 #cd5c5c
  3px 3px 0 0 #00008B;
  transition-duration: 180ms;
}.mail{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 30px;
  margin-bottom: 4px;
  border: 2px solid #483D8B;
  box-shadow: 2px 2px 0 0 #cd5c5c
  3px 3px 0 0 #00008B;
  transition-duration: 180ms;
}
.mail:hover{
  box-shadow: 2.5px 2.5px 0 0 #b3d4f5,
  2px 2px 0 0 #8B4513;
  transform: translate(-2px -2px);
}
.sub{
  padding: 3px 3px;
  border: 2px solid #483D8B;
  box-shadow: 2px 2px 0 0 #cd5c5c
  3px 3px 0 0 #00008B;
  transition-duration: 180ms;
  cursor: pointer;

}
.sub:hover{
  box-shadow: 3px 3px 0 0 #1e90ff,
  3px 3px 0 0 #8B4513;
  transform: translate(-2px -2px);
}
.mail:hover{
  box-shadow: 2.5px 2.5px 0 0 #b3d4f5,
  2px 2px 0 0 #8B4513;
  transform: translate(-2px -2px);
}
.sub{
  padding: 3px 3px;
  border: 2px solid #483D8B;
  box-shadow: 2px 2px 0 0 #cd5c5c
  3px 3px 0 0 #00008B;
  transition-duration: 180ms;
  cursor: pointer;

}
.sub:hover{
  box-shadow: 3px 3px 0 0 #1e90ff,
  3px 3px 0 0 #8B4513;
  transform: translate(-2px -2px);
}